<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.memtpadraomonofasico.balancaDePrecisao">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="com.principal.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Balança de Pracisão"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.memtpadraomonofasico.balancaDePrecisao.DashboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.memtpadraomonofasico.balancaDePrecisao.Bluetooth.BluetoothActivity"
            android:parentActivityName="com.memtpadraomonofasico.balancaDePrecisao.DashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.memtpadraomonofasico.balancaDePrecisao.Bluetooth.DiscoveredDevices"
            android:parentActivityName="com.memtpadraomonofasico.balancaDePrecisao.Bluetooth.BluetoothActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.memtpadraomonofasico.balancaDePrecisao.Bluetooth.PairedDevices"
            android:parentActivityName="com.memtpadraomonofasico.balancaDePrecisao.Bluetooth.BluetoothActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.memtpadraomonofasico.balancaDePrecisao.Atividades.RelatorioVerificacao.RelatorioVerificacaoActivity"
            android:parentActivityName="com.memtpadraomonofasico.balancaDePrecisao.DashboardActivity"
            android:screenOrientation="portrait" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name="com.memtpadraomonofasico.balancaDePrecisao.Atividades.RelatorioVerificacao.ServicoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.memtpadraomonofasico.balancaDePrecisao.Atividades.RelatorioVerificacao.SelecionarMedidorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.memtpadraomonofasico.balancaDePrecisao.Atividades.RelatorioVerificacao.MarchaVazioActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.memtpadraomonofasico.balancaDePrecisao.Atividades.RelatorioVerificacao.SituacoesObservadasActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.memtpadraomonofasico.balancaDePrecisao.Atividades.RelatorioVerificacao.ResultadosFinaisActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.memtpadraomonofasico.balancaDePrecisao.Atividades.RelatorioVerificacao.ConclusaoActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>

</manifest>